<h1>Users App</h1>
<!-- Fíjate los atributos que tiene nuestro formulario: action="/users" y method="post". Está haciendo una petición post a la ruta /users -->
<form action="/users" method="post">
  <input type="text" name="name" placeholder="Name"><br>
  <input type="email" name="email" placeholder="Email"><br>
  <input type="submit">
</form>
<!-- links para poder navegar dentro de nuestra app. -->
<a href="/users">Show all users</a>
