<h1>Profile Page</h1>
<!-- <%= %>: Ejecuta código de ruby y además lo inserta en el DOM. -->
<h2><%= @user.name %></h2>
<h3><%= @user.email %></h3>
<!-- link para regresar al index de todos los usuarios. Agrega el siguiente código hasta el final: -->
<a href="/users">Show all users</a>
