.container {
  margin: 0 auto;
  width: 768px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}
.content{
  width: 668px;
  height: 500px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #666;
  float: left;
}
nav{
  width: 90px;
  height: 500px;
  padding-top: 10px;

  float: right;
  text-align: center;
  background-color: #acacac;
  border-bottom: 2px solid #666;
}
  ul{
    list-style-type: none;
    padding-left: 0px;
  }

    a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 0px;
    }

.footer{
  text-align: inherit;
  margin-top: 20px;
  padding-left: 0px;
  float:  left;
}
